//logo

.logo {
    width : 3.75rem;
    margin-left: 2rem;
}

//search

.search {
    flex : 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: .7s all;
        background-color: var(--color-grey-light-2);
        border: none;
        margin-right: -3.25rem;
        
        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }


    &__button {
        border: none;
        background-color: var(--color-grey-light-2);
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}

// user-navigation

.user-nav {

    display: flex;
    align-self: stretch;
    align-items: center;

    & > * {
        padding: 0 2rem;
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    & > *:hover {
        background-color: var(--color-grey-light-2);
        
    }

    &__icon-box {
       position: relative;
    }

    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: var(--color-grey-dark-2);
    }

    &__notif {
        font-size: .8rem;
        width: 1.75rem;
        height: 1.75rem;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;
        
        //to center text within circle
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__user-pic {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
}

//sidebar nav


.side-nav {

    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }

        &::before {
            content: "";
            height: 100%;
            width: 3px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--color-primary);
            transform : scaleY(0);
            transition: transform .2s, width .4s .2s;
        
        }

        &:active::before {
            background-color: var(--color-primary-light);
        }
        
        &:hover::before,
        &--active::before {
            transform : scaleY(1);
            width: 100%;
        }

    }

    &__link:link,
    &__link:visited {
        display: block;
        padding: 1.5rem 3rem;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--color-grey-light-1);
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        color: currentColor;
        margin-right: 2rem;
        fill: var(--color-grey-light-1);
    }
}

.legal {
    font-size: 1.2rem;
    text-align: center;
    color: var(--color-grey-light-4);
    padding: 2.5rem;
}

// hotelview

//gallery

.gallery {

    display: flex;
    &__item {
       
    }

    &__photo {
        width: 100%;
        display: block;
    }
}

// overview

.overview {
    display: flex;
    border-bottom: 1px solid var(--color-grey-light-2);
    align-items: center;

    &__heading {
        font-size: 2.25rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
        font-weight: 300;

    }

    &__stars {
       
        display: flex;
        margin-right: auto; //it will auto calculate margin work as flex = 1
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &__location {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
    }

    &__rating {
        background-color: var(--color-primary);
        color: #fff;
        padding: .5rem 2.25rem;
        margin-left: 1rem;
        
        align-self: stretch;
        
        display: flex;
        align-items: center;
        flex-direction: column;        
        justify-content: center;

        &-avg {
            font-size: 2.25rem;
            font-weight: 400;
        }

        &-count {
            font-size: .8rem;
            font-weight: 400;
        }
    }
}

.inline-btn {
    font-size: inherit;
    border: none;
    color: var(--color-primary);
    border-bottom: 1px solid currentColor;
    background-color: white;
    padding-bottom: .2rem;
    transition: all .4s;
    cursor: pointer;
    margin-left: .5rem;

    &:hover {
        color: var(--color-grey-dark-1);
        transform : translateY(2px);
    }

    &:focus {
        outline: none;
    }
}

//paragraph of description section in hotel view

.para {
    text-align: justify;
    &:not(:last-of-type) {
        margin-bottom: 2rem;
    }
}

.list {
    display: flex;
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);
    flex-wrap: wrap; //it changes into newline when elements goes out of flex container

    &__item {
        flex: 0 0 50%;
        margin-bottom: .7rem;
        text-transform: capitalize;
        &::before {
            content: "";
            display: inline-block;
            width: 1.1rem;
            height: 1.1rem;
    
            margin-right: .7rem;
            background-image: url('../img/chevron-thin-right.svg');
            background-size: cover;
            
        }
    }
}

.recommend {
    display: flex;
    align-items: center;
    &__count {
        margin-right: auto;
    }

    &__photo {
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        border: 3px solid #fff;
        box-sizing: content-box;

        &:not(:last-child) {
            margin-right: -1.5rem;
        }
    }
}

.review {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;

    &__text {
        z-index: 10;
        position: relative;
    }

    &__user {
        display: flex;
        align-items: center;
        margin-top: 2rem;
    }

    &__photo {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        
    }

    &__userbox {
        margin-right: auto;
        padding: .5rem 1rem;
    }

    &__username {
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        
    }

    &__userdate {
        font-size: 1rem;
        color: var(--color-grey-dark-3);
    }

    &__rating {
        font-size: 2.2rem;
        color: var(--color-primary);
        font-weight: 400;
    }

    &::before {
        content: "\201C";
        position: absolute;
        line-height: 1;
        top: -2.75rem;
        left: -1rem;
        font-size: 20rem;
        font-family: sans-serif;
        color: var(--color-grey-light-2);
        z-index: 1;
    }
}

.cta {
    padding: 3.5rem 0;
    text-align: center;

    &__book-now {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 3.5rem;
    }
}

.btn {
    font-size: 1.4rem;
    font-weight: 400;
    background-image: linear-gradient(to right , var(--color-primary-light) , var(--color-primary-dark));
    border: none;
    border-radius: 100px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    & > * {
        transition: all .2s;
        display: inline-block;
    }

    &__visible {
        padding: 2rem 7.5rem;
    }

    &__invisible {
        padding: 2rem 0;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &:hover &__visible {
        transform: translateY(100%);
        }
    &:hover &__invisible {
            top: 0;
        }
    
}